<!-- SPA Agendas de Contactos -->
<div data-role="page" id="splash_page">
  <div role="main" class="ui-content">
    <h1>Contactos SPA v0.1</h1>
    <h2>SW UNICAH 2016-03</h2>
  </div>
</div>

<div data-role="page" id="login_page">
    <div data-role="header" data-position="fixed">
        <h1>Iniciar Sesión</h1>
    </div>
    <div role="main" class="ui-content">
      <div id="lg_form">
          <label for="lg_correo">Usuario</label>
          <input type="email" id="lg_correo" name="correo" placeholder="correo@usuar.io" />
          <label for="lg_password">Contraseña</label>
          <input type="password" id="lg_password" name="password" placeholder="Contraseña" />
          <a href class="ui-shadow ui-btn ui-corner-all" id="btn_login">Iniciar Sesión</a>
          <a href="#register_page" class="ui-shadow ui-btn ui-corner-all" >Registrar Cuenta</a>
      </div>
    </div>
</div>

<div data-role="page" id="register_page">
    <div data-role="header" data-position="fixed">
        <h1>Nueva Cuenta</h1>
    </div>
    <div role="main" class="ui-content">
      <div id="rg_form">
          <label for="rg_correo">Usuario</label>
          <input type="email" id="rg_correo" name="correo" placeholder="correo@usuar.io" />
          <label for="rg_nombre">Nombre</label>
          <input type="text" id="rg_nombre" name="nombre" placeholder="Nombre Completo" />
          <label for="rg_password">Contraseña</label>
          <input type="password" id="rg_password" name="password" placeholder="Contraseña" />
          <a href class="ui-shadow ui-btn ui-corner-all" id="btn_register">Registrar Cuenta</a>
          <a href="#login_page" class="ui-shadow ui-btn ui-corner-all">Iniciar Sesión</a>
      </div>
    </div>
</div>

<div data-role="page" id="contact_list">
    <div data-role="header" data-position="fixed">
        <h1>Mis Contactos</h1>
    </div>
    <div role="main" class="ui-content">
      <ul data-role="listview" id="contact_list_mainlist"
        data-filter="true" data-filter-placeholder="Buscar Contacto">

      </ul>
    </div>
    <div data-role="footer" data-position="fixed">
      <div data-role="navbar">
        <ul>
          <li><a href="#nuevo_contacto">Nuevo Contacto</a></li>
        </ul>
      </div>
    </div>
</div>

<div data-role="page" id="contact_detail">
  <div data-role="header" data-position="fixed">
    <h1>Detalle Contacto</h1>
  </div>
  <div role="main" class="ui-content">
      <p>
        <label>Nombre</label>
        <span id="dtlNombre" style="width:100%;display:inline-block;padding:0.3em;" class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"></span>
        <label>Apellido</label>
        <span id="dtlApellido" style="width:100%;display:inline-block;padding:0.3em;" class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"></span>
        <h3>Direcciones</h3>
        <ul data-role="listview" data-inset="true" id="dtlDirecciones">
          <li><a href="#nueva_direccion">Agregar Dirección</a></li>
        </ul>
      </p>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#contact_list">Home</a></li>
        <li><a href="#contact_detail">Detail</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- nuevo_contacto -->
<div data-role="page" id="nuevo_contacto">
    <div data-role="header" data-position="fixed">
        <h1>Agregar Nuevo Contacto</h1>
    </div>
    <div role="main" class="ui-content">
      <div id="nc_form">
          <label for="nc_nombre">Nombres</label>
          <input type="text" id="nc_nombre" name="nombre" placeholder="Nombre" />
          <label for="nc_apellido">Apellidos</label>
          <input type="text" id="nc_apellido" name="apellido" placeholder="Apellido" />
          <a href class="ui-shadow ui-btn ui-corner-all" id="btn_agregar_contact">Agregar Contacto</a>
      </div>
    </div>
    <div data-role="footer" data-position="fixed">
      <div data-role="navbar">
        <ul>
          <li><a href="#contact_list">Cancelar</a></li>
        </ul>
      </div>
    </div>
</div>

<div data-role="page" id="nueva_direccion">
    <div data-role="header" data-position="fixed">
        <h1>Agregar Nueva Dirección</h1>
    </div>
    <div role="main" class="ui-content">
      <div id="nd_form">
          <label for="nd_telefono">Teléfono</label>
          <input type="text" id="nd_telefono" name="telefono" placeholder="Número Telefónico" />
          <label for="nd_direccion">Dirección</label>
          <input type="text" id="nd_direccion" name="direccion" placeholder="Dirección de su Domicilio" />
          <label for="nd_correo">Correo</label>
          <input type="text" id="nd_correo" name="correo" placeholder="corre@electrn.co" />
          <a href class="ui-shadow ui-btn ui-corner-all" id="btn_agregar_direccion">Agregar Dirección</a>
      </div>
    </div>
    <div data-role="footer" data-position="fixed">
      <div data-role="navbar">
        <ul>
          <li><a href="#contact_detail">Cancelar</a></li>
        </ul>
      </div>
    </div>
</div>
