<!-- SPA Agendas de Contactos -->
<div data-role="page" id="contact_list">
    <div data-role="header" data-position="fixed">
        <h1>Mis Contactos</h1>
    </div>
    <div role="main" class="ui-content">
      <ul data-role="listview" id="contact_list_mainlist"
        data-filter="true" data-filter-placeholder="Buscar Contacto">

      </ul>
    </div>
    <div data-role="footer" data-position="fixed">
      <div data-role="navbar">
        <ul>
          <li><a href="#nuevo_contacto">Nuevo Contacto</a></li>
        </ul>
      </div>
    </div>
</div>

<div data-role="page" id="contact_detail">
  <div data-role="header" data-position="fixed">
    <h1>Detalle Contacto</h1>
  </div>
  <div role="main" class="ui-content">
      <p>
        <label>Nombre</label>
        <span id="dtlNombre" style="width:100%;display:inline-block;padding:0.3em;" class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"></span>
        <label>Apellido</label>
        <span id="dtlApellido" style="width:100%;display:inline-block;padding:0.3em;" class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"></span>
        <h3>Direcciones</h3>
        <ul data-role="listview" data-inset="true" id="dtlDirecciones">
          <li><a href="#nueva_direccion">Agregar Dirección</a></li>
        </ul>
      </p>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#contact_list">Home</a></li>
        <li><a href="#contact_detail">Detail</a></li>
      </ul>
    </div>
  </div>
</div>
