<!DOCTYPE html>
<html>
  <head>
    <title>Agenda de Contactos</title>
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet"
  href="/css/themes/default/jquery.mobile-1.4.5.min.css"
  />
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.mobile-1.4.5.min.js"></script>
  </head>
  <body>
    {{{body}}}
    <script src="javascripts/client.js"></script>
  </body>
</html>
